:root {

   // COLORS
   --toolbar-size: 60px;
   --font-color-1: #ececec;
   --font-color-2: #cacaca;
   --font-color-3: #e9cc97;
   --font-color-3-1: #656258;
   --font-color-3-2: #a09b8a;
   --font-color-4: #282726;

   // RESOURCES
   --frontPageImage: url('https://www.elespectador.com/resizer/v2/CZPAMXWWWFGKTEH4EAR5R7D5KI.jpg?auth=d1a1cc9196c8cc458631743e163d838c0e09432b5ad647371178b93817049434&width=976&height=650&smart=true&quality=70');
   --testImage: url("../assets/images/image1.jpg");
}