@import './variables/_general.scss';
* {
   font-family: var(--font-family);
}
html {
   margin: 0;
   padding: 0;
   width: 100%;
   box-sizing: border-box;
   height: 100vh;
}
#root {
   display: flex;
   margin: 0;
   padding: 0;
   background: rgb(12, 18, 30);
   position: relative;
   box-sizing: border-box;
}

body {
   width: 100%;
   background: #050608;
   padding: 0;
   margin: 0;
   overflow: clip auto;
   justify-content: center;
   box-sizing: border-box;
   position: relative;
}

.mainContent {
   display: flex;
   position: relative;
   flex-direction: column;
   overflow: clip auto;
   padding: 0;
   margin: 0;
   height: 100%;
   width: 100%;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: wheat;
   background-image: var(--testImage);
   background-repeat: repeat-y;
   background-size: contain;
}
