.footer {
   display: flex;
   background-color: rgba(127, 255, 212, 0.608);
   align-items: center;
   justify-content: center;
   .footerContent {
      margin-top: 1em;
      margin-bottom: 1em;
      padding: 1em 20%;
      box-sizing: border-box;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      width: 85%;
      background: rgba(16, 36, 25, 0.49);

   }
}